---
layout: default
---
<style>
.myDiv { 
  text-align: center;
}
</style>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer">About&nbsp;&nbsp;<i class="fa fa-info-circle text-fg"></i></a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div class="myDiv">
        <h2>Non-Rotating Staples</h2>
    </div>
    <div id="main" data-exif='{{ site.exif }}'>
            {% assign image_files = site.static_files | where: "non_rotating_image", true %}
            {% for myimage in image_files %} 
            <article class="thumb">
                <a href="{{site.baseurl}}{{ site.image_fulls_loc }}/{{ myimage.name }}" class="image">
                    <img src="{{myimage.path}}" alt="{{myimage.name}}"></a>
                <!--<h2></h2>
                <p></p>-->
            </article>
            {% endfor %}
        
    </div>

    <div class="myDiv">
        <h2>Rotating Staples</h2>
    </div>
    <div data-exif='{{ site.exif }}'>
        {% assign image_files = site.static_files | where: "rotating_image", true %}
        {% for myimage in image_files %} 
        <a href="{{site.baseurl}}{{ site.image_rotating_fulls_loc }}/{{ myimage.name }}" class="image">
                    <img src="{{myimage.path}}" alt="{{myimage.name}}"></a>
            <!--<h2></h2>
            <p></p>-->
        {% endfor %}         
    </div>
 
    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.memory }}</p>
                </section>
                
            </div>
            <div>
                
            </div>
        </div>
    </footer>
</div>
